@model IEnumerable<DiplomaDataModel.Models.Choice>

@{
    ViewBag.Title = "Index";
}

<h2>Index </h2>

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/highcharts.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var yeartermid = '@ViewBag.DefaultTerm';
        $(document).ready(function () {

            $("#yeartermResult").load('@(Url.Action("GenerateReportPartial", "Choice", null, Request.Url.Scheme))?yeartermid=' + yeartermid);
            $("#chartResult").load('@(Url.Action("GenerateChartPartial", "Choice", null, Request.Url.Scheme))?yeartermid=' + yeartermid);

            $("#yearTermSelected").change(function () {

                yeartermid = $("#yearTermSelected").val();
                $("#yeartermResult").load('@(Url.Action("GenerateReportPartial", "Choice", null, Request.Url.Scheme))?yeartermid=' + yeartermid);
                $("#chartResult").load('@(Url.Action("GenerateChartPartial", "Choice", null, Request.Url.Scheme))?yeartermid=' + yeartermid);

            });
        });
    </script>
}

@Html.ActionLink("Modify Student Choices", "Modify")

<div>
    <h3>Generate A Detailed Report</h3>
    @Html.Label("Select a term")
    @Html.Action("YearTermSelect", "Choice")

</div>

<div id="yeartermResult"></div>
<br />
<div id="chartResult"></div>

<div id="loadingDisplay" style="display: none">
    <img src="@Url.Content("~/Content/Images/ajax-loader.gif")"
         alt="loading image" />
</div>


